<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>OfflineTunes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="eel.js"></script>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</head>
<body>
    <audio src="" id="audio_player" ></audio>
    <div class="navbar">
        <a onclick="document.getElementById('main').style='transform:translateY(0%)'">TUNES PLAYER</a>
        <a onclick="document.getElementById('main').style='transform:translateY(-100%)'">NETWORK</a>
        <a onclick="document.getElementById('main').style='transform:translateY(-200%)'">SETTINGS</a>
    </div>
    <!--style="display:none;"-->
    
    <div id="duplicate" class="tunebox" style="display: none;">
        <p>TUNE EXAMPLE A</p>
        <label>downloading</label>
    </div>
    <main id="main" style="">
        <div class="body">
            <div style="display:none;" id="add_screen">
                <div class="box">
                    <center><h1>ADDING NEW TUNE</h1>
                    <p>TUNE NAME:   <input id="tune_name" type="text"></p>
                    <p>TUNE LINK:   <input id="tune_link" type="text"></p>
                        <div class="buttons">
                            <button onclick="
                            addTunes(document.getElementById('tune_name').value,
                            document.getElementById('tune_link').value
                            , this, document.getElementById('add_screen_cancel_button'))
                            ">ADD</button>
                            <button onclick="
                            document.getElementById('add_screen').style ='display:none;'
                            " id="add_screen_cancel_button">CANCEL</button>
                        </div>
                    </center>
                </div>
            </div>
            <div id="elements_table">
            </div>
            <button tooltip="add" class="add" onclick="document.getElementById('add_screen').style =''">+</button>
            <button tooltip="delete" class="trash" onclick="trashButton(this)" onmouseover="trashOver(this)" onmouseleave="trashLeave(this)">X</button>
        </div>
        <div class="body2" id="management">
            <center>
                <h1>NETWORK</h1>
                <hr>
            </center>
            <div id="network">
                <div id="ngragh">
                    <iframe id="network_graph" src="graph/graph.html" frameborder="0"></iframe>
                </div>
                <div id="dstatus">
                    <div class="l">
                        <center>
                            <p>ALL</p>
                            <progress id="m_allProgress" max="100" value="50"></progress>
                        </center>
                    </div>
                    <div class="l" style="margin-bottom:0;">
                        <center>
                            <p>CURRENT</p>
                            <progress id="m_currentProgress" value="50" max="100">10</progress>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="body2" id="settings">
            <center><h1>SETTINGS</h1>
                <hr></center>
            <form>
                <p style="display: inline-block; margin-bottom:0">tunes location:        <input id="location_input" style="margin-bottom:0" type="text" placeholder="location goes here"></p>
                <button id="location_sumbit" style="display:inline-block;">sumbit</button>
                    <p style="margin-top:0;">update database, will only apply for new tunes</p>
                
                <p>dark mode:        <label class="switch">
                    <input id="dark_mode" onclick="trigger_dark_mode()" type="checkbox">
                    <span class="slider round"></span>
                </label>
                </p>
                <button id="move_tunes" onclick="move_tunes()">move all tunes into the new tunes location</button>
                <p style="margin-top:0;">the app will shut down for somereason, but it will work</p>
            </form>
        </div>
    </main>
    </div>
    <div class="player">
        <input onmousedown="progressUpdateable=false;" onmouseup="progressUpdateable=true;" type="range" id="progress" min="0" value="0" max="10000">
        <p id="audio_name">not playιng</p>
            <!--https://emojicombos.com/music-player-text-symbols
            -->
        <div class="middle">
            <button style="color:white;" tooltip="continue">⇄</button>
            <button onclick="index_button(-1)">◃◃</button>
            <button onclick="move_audio(-1)" tooltip="5-">◃</button>
            <button onclick="play_button(this)" id="playButton" tooltip="play / pause">▷</button>
            <button onclick="move_audio(1)" tooltip="5+">▹</button>
            <button onclick="index_button(1)">▹▹</button>
            <button onclick="repeat_button(this)" tooltip="repeat">↺</button>
        </div>
        <input tooltip="volume" type="range" id="volume_range" min="0" max="100" value="100" onchange=" volume_input(this)">
        <p id="time">00:00 / 00:00</p>
    </div>
    
</body>
</html>