body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    user-select: none;
    overflow-y:hidden;
}
hr{
    border:0.12vh solid black
}
input {
    margin-left:1vh;
    font-size: 2.2vh;
    outline:none;
    border:none;
    border-bottom: 0.2vh solid black;
    transition: transform .1s ease-out;
}
input:focus{
    outline:none;
    transform:scale(1.07)
}
input[type=range]{
    transform:scale(1)
}
p{
    font-size: 2.2vh;
    margin:2vh 0;
}
button{
    font-size:2.2vh;
    border:0;
    padding:0.7vh 1.5vh;
    cursor:pointer;
    transition:transform .1s ease-out
}
button:hover{
    transform:scale(1.1);
}
button:active{
    transform:scale(1.06);
}


.add{
    position:absolute;
    right:2%;
    bottom:2%;
    font-size: 4vh;
    font-weight: bold;
    margin:0;
    background-color:rgb(215, 215, 215);
    padding:1vh 1.8vh;
    z-index: 99;
    border:0;
    border-radius: 100%;
    outline:0;
    transition:transform .1s ease-out;
}
.add:hover {
    transform:scale(1.2);
}
.add:active {
    transform:scale(1.12);
}
#add_screen {
    position:absolute;
    display:block;
    top:0;
    left:0%;
    height:72%;
    width: 95%;
    z-index: 100;
    padding:2.5%;
    padding-top:13%;
    overflow-y: auto;
    background-color:white;
}
.add_screen .box{
    position:relative;
    vertical-align: middle;
    left:25%;
    min-width:50%;
    width:50%;
    max-width:50%;
    top:25%;
    min-height:50%;
    height:50%;
    max-height:50%;
}
.add_screen .box .buttons button{
    display: inline-block;
    margin:0 1vh;
}
.trash {
    position:absolute;
    right:7%;
    bottom:2%;
    font-size: 3.5vh;
    font-weight: bold;
    margin:0;
    background-color:rgb(215, 215, 215);
    padding:1.2vh 2.16vh;
    z-index: 99;
    border:0;
    border-radius: 100%;
    outline:0;
    transition:transform .1s ease-out;
}
.trash:hover {
    transform:scale(1.2);
    background-color: rgb(240, 12, 12);
}
.trash:active {
    transform:scale(1.12);
    background-color: rgb(170, 33, 33);
}
.player{
    position:absolute;
    top:90%;
    left:0%;
    height:10%;
    width: 100%;
    background-color: rgb(46, 46, 46);
    vertical-align:middle;
    z-index: 1000;
}
.player input[type=range]#progress{
    margin:0;
    position:absolute;
    min-width:100%;
    max-width: 100%;
    top:0%;
    width: 100%;
    height:3%;
    z-index: 300;
    border:none;
    margin:0;
    padding:0;
}
.player input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width:2vh;
    height:2vh;
    cursor:pointer;
    background: rgb(27, 73, 148);
    margin:0;
    padding:0;
}
.player input[type=range]::-moz-range-thumb{
    width:2vh;
    height:2vh;
    cursor:pointer;
    background: rgb(27, 73, 148);
    margin:0;
    padding:0;
}
.player .table{
    display:inline-table;
    min-width: 186vh;
    width:186vh;
    max-width: 186vh;
    transform:translateY(-20%)
}
.player .middle{
    position:absolute;
    bottom:15%;
    right:50%;
    transform:translateX(50%);

}
.player p#audio_name{
    color:white;
    display: inline-block;
    margin-left:4vh;
    min-width: 59.5vh;
    max-width: 59.5vh;
    overflow-x: hidden;
    max-height: 4vh;
    transform:translateY(30%);
}
.player p#time{
    position:absolute;
    bottom:15%;

    right:5%;
    color:white;
}
.player .middle button{
    background-color: rgb(46, 46, 46);
    color:white;
    position:relative;
    bottom:50%;
    font-size: 4vh;
    vertical-align:middle;
    transition: transform .1s ease-out;
    outline :none;
    border:none;
    background-color: none;
    padding:0.5vh 3vh;
    margin:0;
    letter-spacing: -1vh;
    display: inline-block;
}
.player .middle button.d{
    letter-spacing: 0vh;
}
.player .middle button:hover{
    transform:scale(1.1);
}
.player .middle button:active{
    transform:scale(0.95);
}
.player input[type=range]#volume_range{
    position:absolute;
    min-width: 10%;
    width:10%;
    max-width: 10%;
    min-height: 1%;
    height: 1%;
    max-height: 1%;
    bottom:46%;
    right:15%;
    transition:transform .1s ease-in-out;
}
.player input[type=range]#volume_range:hover{
    transform:scaleX(1.1);
}

.navbar{
    position:absolute;
    padding-top:5%;
    top:0;
    left:0;
    height:85%;
    width: 15%;
    background-color: rgb(205, 205, 205);
}
.navbar a{
    text-decoration: none;
    position:relative;
    display: block;
    padding:5%;
    margin-bottom: 1vh;
    width:90%;
    color:rgb(75,75,75);
    font-weight: bold;
    font-size: 2.5vh;
    overflow-x:hidden;
    background-color: none;
    cursor:pointer;
    transition:transform .1s ease-out;
}
.navbar a:hover{
    color:black;
    transform:translateX(5%);
}
.navbar a:active{
    transform:translateX(2.5%)
}
.tunebox{
    text-decoration: none;
    position:relative;
    display: block;
    padding:1%;
    font-size:2.5vh;
    width:98%;
    background-color:white;
    cursor:pointer;
    transition: background-color .1s ease-out;
    color:rgb(50,50,50);
    border-bottom: 0.12vh solid rgba(25,25,25,0.3);
}
.tunebox:hover{
    background-color: rgb(225, 225, 225);
    color:black;
}
.tunebox p{
    position:inherit;
    display: inline-block;
    margin:0;
    left:0%;
    top:0;
    min-width: 90%;
    max-width: 85%;
    min-height:100%;
    height:100%;
    max-height: 100%;
}
.tunebox label{
    display:inline-block;
    overflow-x:hidden;
    display: inline-block;
    max-width: 17vh;
    text-align: right;
    font-size: 1.6vh;
}
/*
.tunebox button{
    display:inline-block;
    color:white;
    position:relative;
    background-color:white;
    padding: 0.8vh 1.36vh;
    transition:background-color .1s ease-out;
    border:0.0vh;
    margin-left:1vh;
    border-color:rgb(255, 67, 67);
    border-radius: 15%;
    font-weight: bold;
    content:'X';
}
.tunebox button:hover{
    content:'X';
}
.tunebox button:active{
    content:'X';
}

.tunebox:hover button{
    background-color:rgb(255, 67, 67);
}
*/
.sortable-handler {
    touch-action: none;
}
/* trial of many bodies in main*/
main{
    position:absolute;
    top:0;
    left:15%;
    height:90%;
    width: 85%;
    overflow-y:visible;
    transition:transform .25s ease-in-out;
}
.body{
    position:relative;
    top:0;
    left:0;
    min-height: 100%;
    height:100%;
    max-height: 100%;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    padding:0vh;
    margin:vh;
}
#elements_table{
    position:relative;
    top:0;
    left:0;
    min-height: 100%;
    height:100%;
    max-height: 100%;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
}
h1{
    font-size: 3.5vh;
}
.body#management div#network{
    position:absolute;
    top:8%;
    left:0%;
    width: 100%;
    height: 89%;
    background-color: rgb(248, 248, 248);
}
.body#management div#network div#dstatus{
    position:absolute;
    left:0%;
    bottom:0%;
    height:12%;
    width:100%;
    color:rgb(75,75,75);
    font-weight: lighter;
    z-index: 50;
}
.body#management div#network div#ngragh{
    position:absolute;
    left:0%;
    top:0%;
    height:84%;
    max-height: 84%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(220,220,220);
}
.body#management div#network div#ngragh iframe{
    position:absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    left:0%;
    top:0%;
    min-height: 90%;
    height:90%;
    max-height: 90%;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}
.body#management div#network div#dstatus .l{
    display: inline-block;
    position:relative;
    width:90%;
    left:5%;
    height:4vh;
    margin-bottom: 1vh;
}
.body#management div#network div#dstatus .l p{
    display: inline-block;
    margin:0;
    max-width: 11vh;
    width: 11vh;
    min-width: 11vh;
    
}
.body#management div#network div#dstatus .l progress{
    display: inline-block;
    max-width: 35vh;
    width: 35vh;
    min-width: 35vh;
    max-height: 1vh;
    height: 1vh;
    min-height: 1vh;
    transform:translateY(150%);
    
}

.body#management div#network div#dstatus .l progress::after{
    content:attr(value) '%';
    display:inline-block;
    color:rgb(75,75,75);
    font-size: 1.5vh;
    padding:1vh 1.5vh;
    max-width: 2vh;
    overflow-x: hidden;
    transform:translateX(22vh) translateY(-40%);
}

